html{background:#0b1728 url(i/logo_198x38.png) center 50px no-repeat;
}
body, input, h2, button{font:30px 'Droid Sans Mono', monospace;}
h2{margin:40px 0 50px 0; font-weight:normal; }
.board{color:#fff; margin:200px auto 50px auto;width:60%;
text-align:center; background:rgba(200, 200, 255, 0.1); padding:20px 20px;
border-top:rgba(200, 200, 255, 0.1) solid 1px; border-bottom:rgba(0, 0, 25, 0.5) solid 1px;
}
h3{font-size:18px; font-weight:normal;}
button{color:#0b1728;cursor:pointer;}
iframe{width:200px; height:200px; float:left; margin:0 40px 0 0; border:rgba(200, 200, 255, 0.1) solid 1px}
input{width:50%;}
ul{list-style-type:none;}
li{clear:both; margin:50px 0 0 0; overflow:hidden; text-align:left;}
li button{font-size:18px;}
p{ line-height:28px; margin:0;font-size:14px;}
hr{margin:60px 0 30px 0; border-top:rgba(200, 200, 255, 0.1) solid 1px; 
border-left:0px; border-right:0px; border-bottom:0px;}