@import 'reset'

// Typography
@font-face
    font-family 'Inconsolata'
    src url('font/inconsolata/inconsolata-webfont.eot')
    src url('font/inconsolata/inconsolata-webfont.eot?#iefix') format('embedded-opentype'), url('font/inconsolata/inconsolata-webfont.woff') format('woff'), url('font/inconsolata/inconsolata-webfont.ttf') format('truetype'), url('font/inconsolata/inconsolata-webfont.svg#UrbanoLight') format('svg')
    font-weight normal
    font-style normal
@font-face
    font-family 'Modulicons'
    src url('font/modulicons/modulicons-webfont.eot')
    src url('font/modulicons/modulicons-webfont.eot?#iefix') format('embedded-opentype'), url('font/modulicons/modulicons-webfont.woff') format('woff'), url('font/modulicons/modulicons-webfont.ttf') format('truetype'), url('font/modulicons/modulicons-webfont.svg#UrbanoLight') format('svg')
    font-weight normal
    font-style normal
mono = "Inconsolata", courier new, monospace
icon = "modulicons"
tall = 17px
medium = 14px
small = 10px

// Colors
bg = #0b1728
bone = #dbe3e2
innactiveBone = #3D4F71
light = #2D3741
green = #398D69

// Grid
cell = 145px
gutter = 4px
panelw = cell*2 + gutter*3

body
    font medium mono

pre
    margin 0
    padding 0

body, html
    width 100%
    height 100%
    margin 0
    padding 0
    background #0b1728
    -webkit-font-smoothing: antialiased;

#logo
    position absolute
    z-index 1
    left gutter+5
    bottom gutter+5
    margin 0
    width 104px
    height 21px
    background url(i/logo_100x21.png) no-repeat

#world
    position absolute
    left 0
    top 0
    display block
    margin 0 auto

#world.hover
    cursor pointer

#world-container
    position absolute
    left 0
    top 0
    overflow hidden
    width 100%
    height 100%

#loading
    position absolute
    top u
    left u
    z-index 999
    margin 0
    font-size 12px
    line-height 20px
    color #fff

// Panels
.panel
    width panelw

.panel h1
    margin 0
    height 32px
    font-size 16px
    line-height 32px
    color bone
    cursor pointer

.panel button.close
    width cell*2 + gutter*3
    height 32px
    margin 0
    padding 0 10px 0 0
    font-size 16px
    text-align right
    color innactiveBone
    background rgba(0, 5, 20, 0.5)
    border 0
    cursor pointer
    &:hover
        background rgba(0, 5, 20, 0.8)
        color bone

.panel .content
    overflow auto
    background rgba(0, 5, 20, 0.5)

.panel-position-tr, .panel-position-tl
    border-bottom 1px solid bone
.panel-position-tl
    border-top 0
    padding-left gutter
    h1
    padding-left gutter
.panel-position-br
    border-top 1px solid bone

// Codepad
#panel-codepad .ace_gutter
    background-color bone
#panel-codepad
    width panelw * 2

#panel-codepad .content
    background none

#ace-editor
    position relative
    width panelw*2

// Console
#panel-console
    position relative
#panel-console .console
    pre
        color bone
        font medium mono
        color #75787F

.modul-info
    position absolute
    width panelw
    height 200px
    color #dbe3e2
    background rgba(0, 5, 20, 0.5)

// Buttons
button
    color bone
    border solid 1px #435165
    background rgba(255, 255, 255, 0.1)
    cursor pointer
    width cell
    padding 2px 0
    cursor pointer
    &:hover
        border solid 1px bone

.panel button
    margin gutter gutter 0 gutter
    &:nth-child(2n+1)
        margin-right 0
#panel-console button, #panel-codepad button
    font-size 28px
    position absolute
    border 0
    color bone
    padding 0 0 4px 0
    margin 0
    height 23px
    width 29px
    line-height 20px
    cursor pointer
    background none
#panel-console button:hover, #panel-codepad button:hover
    color green
#panel-console button:active, #panel-codepad button:active
    color bone
#panel-console button
    right -30px
#panel-codepad button
    left -30px
#panel-Actions button
    white-space pre

#playground button.key-active
    color #fff
    border solid 1px #fff
