html,
body {
  margin: 0;
}
h1,
h2 {
  font-weight: normal;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  background: none;
  border: 0;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
@font-face {
  font-family: 'Inconsolata';
  src: url("font/inconsolata/inconsolata-webfont.eot");
  src: url("font/inconsolata/inconsolata-webfont.eot?#iefix") format('embedded-opentype'), url("font/inconsolata/inconsolata-webfont.woff") format('woff'), url("font/inconsolata/inconsolata-webfont.ttf") format('truetype'), url("font/inconsolata/inconsolata-webfont.svg#UrbanoLight") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Modulicons';
  src: url("font/modulicons/modulicons-webfont.eot");
  src: url("font/modulicons/modulicons-webfont.eot?#iefix") format('embedded-opentype'), url("font/modulicons/modulicons-webfont.woff") format('woff'), url("font/modulicons/modulicons-webfont.ttf") format('truetype'), url("font/modulicons/modulicons-webfont.svg#UrbanoLight") format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font: 14px "Inconsolata", "Courier New", monospace;
}
pre {
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #0b1728;
  -webkit-font-smoothing: antialiased;
}
#logo {
  position: absolute;
  z-index: 1;
  left: 9px;
  bottom: 9px;
  margin: 0;
  width: 104px;
  height: 21px;
  background: url("i/logo_100x21.png") no-repeat;
}
#world {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  margin: 0 auto;
}
#world.hover {
  cursor: pointer;
}
#world-container {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
#loading {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 999;
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
}
.panel {
  width: 302px;
}
.panel h1 {
  margin: 0;
  height: 32px;
  font-size: 16px;
  line-height: 32px;
  color: #dbe3e2;
  cursor: pointer;
}
.panel button.close {
  width: 302px;
  height: 32px;
  margin: 0;
  padding: 0 10px 0 0;
  font-size: 16px;
  text-align: right;
  color: #3d4f71;
  background: rgba(0,5,20,0.50);
  border: 0;
  cursor: pointer;
}
.panel button.close:hover {
  background: rgba(0,5,20,0.80);
  color: #dbe3e2;
}
.panel .content {
  overflow: auto;
  background: rgba(0,5,20,0.50);
}
.panel-position-tr,
.panel-position-tl {
  border-bottom: 1px solid #dbe3e2;
}
.panel-position-tl {
  border-top: 0;
  padding-left: 4px;
h1
  padding-left: 4px;
}
.panel-position-br {
  border-top: 1px solid #dbe3e2;
}
#panel-codepad .ace_gutter {
  background-color: #dbe3e2;
}
#panel-codepad {
  width: 604px;
}
#panel-codepad .content {
  background: none;
}
#ace-editor {
  position: relative;
  width: 604px;
}
#panel-console {
  position: relative;
}
#panel-console .console pre {
  color: #dbe3e2;
  font: 14px "Inconsolata", "Courier New", monospace;
  color: #75787f;
}
.modul-info {
  position: absolute;
  width: 302px;
  height: 200px;
  color: #dbe3e2;
  background: rgba(0,5,20,0.50);
}
button {
  color: #dbe3e2;
  border: solid 1px #435165;
  background: rgba(255,255,255,0.10);
  cursor: pointer;
  width: 145px;
  padding: 2px 0;
  cursor: pointer;
}
button:hover {
  border: solid 1px #dbe3e2;
}
.panel button {
  margin: 4px 4px 0 4px;
}
.panel button:nth-child(2n+1) {
  margin-right: 0;
}
#panel-console button,
#panel-codepad button {
  font-size: 28px;
  position: absolute;
  border: 0;
  color: #dbe3e2;
  padding: 0 0 4px 0;
  margin: 0;
  height: 23px;
  width: 29px;
  line-height: 20px;
  cursor: pointer;
  background: none;
}
#panel-console button:hover,
#panel-codepad button:hover {
  color: #398d69;
}
#panel-console button:active,
#panel-codepad button:active {
  color: #dbe3e2;
}
#panel-console button {
  right: -30px;
}
#panel-codepad button {
  left: -30px;
}
#panel-Actions button {
  white-space: pre;
}
#playground button.key-active {
  color: #fff;
  border: solid 1px #fff;
}
