@import 'reset'

// Typography
@font-face
    font-family 'Inconsolata'
    src url('font/inconsolata/inconsolata-webfont.eot')
    src url('font/inconsolata/inconsolata-webfont.eot?#iefix') format('embedded-opentype'), url('font/inconsolata/inconsolata-webfont.woff') format('woff'), url('font/inconsolata/inconsolata-webfont.ttf') format('truetype'), url('font/inconsolata/inconsolata-webfont.svg#UrbanoLight') format('svg')
    font-weight normal
    font-style normal
@font-face
    font-family 'Modulicons'
    src url('font/modulicons/modulicons-webfont.eot')
    src url('font/modulicons/modulicons-webfont.eot?#iefix') format('embedded-opentype'), url('font/modulicons/modulicons-webfont.woff') format('woff'), url('font/modulicons/modulicons-webfont.ttf') format('truetype'), url('font/modulicons/modulicons-webfont.svg#UrbanoLight') format('svg')
    font-weight normal
    font-style normal
mono = "Inconsolata", "Courier New", monospace
icon = "Modulicons"
tall = 17px
medium = 14px
small = 10px

// Colors
bg = #0b1728
bone = #dbe3e2
innactiveBone = #3D4F71
light = #2D3741
green = #398D69
active = rgba(255, 255, 255, 0.05)
panelcontent = rgba(0, 5, 20, 0.5)

// Grid
cell = 145px
gutter = 4px
panelw = cell*2 + gutter*3

body
    font medium mono

pre
    margin 0
    padding 0

body, html
    width 100%
    height 100%
    margin 0
    padding 0
    background #0b1728
    -webkit-font-smoothing: antialiased;

#logo
    position absolute
    z-index 1
    left gutter*4
    bottom gutter*4
    margin 0
    width 104px
    height 21px
    background url(i/logo_100x21.png) no-repeat

#world
    position absolute
    left 0
    top 0
    display block
    margin 0 auto

#world.hover
    cursor pointer

#world-container
    position absolute
    left 0
    top 0
    overflow hidden
    width 100%
    height 100%

#loading
    position absolute
    bottom -4px
    left panelw
    font medium mono
    z-index 999
    color bone

// Panels
.panel
    width panelw

.panel h1
    margin 0
    height 32px
    font-size 16px
    line-height 32px
    color bone
    cursor pointer
    &:-moz-any-link:focus {background:transparent; color:inherit;}
    &::selection {background:transparenttransparent; color:inherit;}
    &::-moz-selection {background:transparent; color:inherit;}
    
.panel button.close
    width cell*2 + gutter*3
    height 32px
    margin 0
    padding 0 10px 0 0
    font-size 16px
    text-align right
    color innactiveBone
    background rgba(0, 5, 20, 0.5)
    border 0
    cursor pointer
    &:hover
        background rgba(0, 5, 20, 0.8)
        color bone

.panel .content
    overflow auto
    background panelcontent

.panel-position-tr, .panel-position-tl
    border-bottom 1px solid bone
.panel-position-tl
    border-top 0
    .console
        padding-left gutter
    h1
        padding-left gutter
.panel-position-br
    border-top 1px solid bone

// Codepad
#panel-codepad
    width panelw * 2
    .ace_gutter
        background-color #081321
        color #1D354D
    .ace-twilight
        .ace_scroller
            background #050D18
            overflow-x auto
        .ace_text-layer
            color #AAA
    .content
        background none
    #ace-editor
        position relative

// Console
#panel-console
    position relative
#panel-console .console
    pre
        color bone
        font medium mono
        color #75787F
.modul-info
    position absolute
    width 200px
    height 250px
    color #dbe3e2
    background panelcontent

// Buttons
button
    color bone
    border solid 1px #435165
    background rgba(255, 255, 255, 0.1)
    cursor pointer
    width cell
    padding 2px 0
    cursor pointer
    &:hover
        border-color bone
    &:active, &.pressed
        background active
        border-color #32395A

.panel button
    margin gutter gutter 0 gutter
    &:nth-child(2n+1)
        margin-right 0
#playground button.key-active
    color #fff
    border solid 1px #fff

#btn-clear, #btn-save, #codeSearch
    position absolute
    height 23px
    width auto
    top 6px
    margin 0
    font-size 16px
    padding 1px 7px
    color #24C768
    background panelcontent
    border solid 1px #0B3517
    cursor pointer
#btn-clear
    right 0px
#btn-save
    right 121px
#codeSearch
    right 0px
    height 19px
    width 100px
    font-size 14px
    
#panel-console button:hover, #panel-codepad button:hover
    color bone
#panel-console button:active, #panel-codepad button:active
    color innactiveBone
#panel-Actions button
    white-space pre

:-moz-any-link:focus {background:green; color:#4580B3;}
::selection {background:#4580B3; color:#000;}
::-moz-selection {background:#4580B3; color:#000;}
