<!doctype html>
<%
	var site_url = "http://"+host+"/";
%>
<html>
<head>
	<meta charset="utf-8">
	<title>modul.io</title>
	<link rel="shortcut icon" href="/favicon.ico" />
	<link href="http://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet" type="text/css" />
	<link href="styles/server.css" rel="stylesheet" type="text/css" />
</head>
<body class="board">
	<h2><%- user %>/<%- modul %> does not exist.</h2>
	<form method="post" action="">
		<button>Create it</button>
	</form>
</body>
</html>