<!doctype html>
<%
	var site_url = "http://"+host+"/";
%>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>modul.io</title>
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="stylesheet" href="<%- site_url %>styles/web.css" />
</head>
	<header>
		<h1>modul.io</h1>
	</header>
	<div class="modul-create only">
        <h2><%- user %>/<%- modul %> does not exist.</h2>
        <form method="post" action="">
            <button>Create it</button>
        </form>
	</div>
</body>
</html>