html,
body {
  margin: 0;
}
h1,
h2 {
  font-weight: normal;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  background: none;
  border: 0;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
@font-face {
  font-family: 'Inconsolata';
  src: url("font/inconsolata/inconsolata-webfont.eot");
  src: url("font/inconsolata/inconsolata-webfont.eot?#iefix") format('embedded-opentype'), url("font/inconsolata/inconsolata-webfont.woff") format('woff'), url("font/inconsolata/inconsolata-webfont.ttf") format('truetype'), url("font/inconsolata/inconsolata-webfont.svg#UrbanoLight") format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font: 12px verdana, arial, sans-serif;
  padding: 0 0 120px;
  background-color: #ececec;
}
h1 {
  position: absolute;
  left: -1000px;
}
h2 {
  color: #0b1728;
  font-size: 24px;
  margin: 70px 0 20px 0;
  text-shadow: 0 1px 1px #fff;
  border-bottom: 1px solid #bbb;
}
h3 {
  font-weight: normal;
  font-size: 18px;
  margin: 40px 0 10px 0;
}
h3 a {
  color: #808080;
}
h4 {
  font-weight: normal;
  font-size: 15px;
  margin: 0 0 10px 0;
}
p {
  margin: 0 0 10px 0;
}
a {
  color: #4f02c1;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #000;
}
code {
  background: #fefbec;
  border: 1px solid #efe7db;
}
.sh_sourceCode {
  font-weight: normal;
  font-style: normal;
}
.sh_sourceCode .sh_symbol,
.sh_sourceCode .sh_cbracket {
  color: #333;
}
.sh_sourceCode .sh_keyword {
  color: #c96;
}
.sh_sourceCode .sh_string,
.sh_sourceCode .sh_regexp,
.sh_sourceCode .sh_number,
.sh_sourceCode .sh_specialchar {
  color: #690;
}
.sh_sourceCode .sh_comment {
  color: #666;
}
button {
  font: 18px "inconsolata", courier new, monospace;
  background: #eee;
  border: 1px solid #bbb;
  border-color: #fff #bbb #bbb #fff;
}
button:hover {
  background: #e4e4e4;
}
button:active {
  background: #e1e1e1;
}
#container,
#toc {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #fff;
}
#container {
  margin: 40px 0 40px 380px;
  width: 600px;
}
#container #gtoc {
  font: 12px verdana, arial, sans-serif;
}
#container code {
  font: 14px "inconsolata", courier new, monospace;
}
#toc {
  background: #fff url("i/logo_170x36.png") no-repeat 20px 20px;
  width: 240px;
  position: fixed;
  font: 12px verdana, arial, sans-serif;
  height: 100%;
  left: 40px;
  top: 40px;
}
#toc>ul {
  display: block;
  overflow: auto;
  height: 70%;
}
#toc ul {
  margin: 0 0 20px 0;
}
#toc ul li {
  margin: 0 0 0px 0;
}
#toc ul li li {
  padding: 0 0 0 20px;
}
#toc h2 {
  margin: 100px 0 10px 0;
  font: 12px verdana, arial, sans-serif;
}
hr {
  display: none;
}
