/*RESET*/
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}
/* Buttons reset */
button{position:relative;overflow:visible;margin:0;padding:0;background:transparent;border:0;cursor:pointer;} /* "overflow:visible;" removes extra side padding in IE */
button::-moz-focus-inner{padding:0;border:0;} /* overrides extra padding in Firefox */
@media screen and (-webkit-min-device-pixel-ratio:0) {
button span{margin-top:-1px;} /* Safari and Google Chrome only - fix margins */
}


html{
font-family:verdana, arial, monospace;
font-size:10px;
letter-spacing:0.04em;
}
body{
color:#dbe3e2;
width:100%;
position:absolute; 
height:100%;
overflow:auto;
background:#0b1728 url(i/bg3.gif);
}
#playground{
height100%;
width:100%;
}

#alert{
color:red;
position:absolute;
left:20px;
padding:5px 0;
border-bottom:1px solid #FF0000;
}
#alert a{
color:red;
font-style:italic;
border-bottom:none;
}

/*  MY MODUL   */

#myModul, #modulArea, #modulSelected{
position:absolute;
left: 50%;  
top: 50%; 
}
#myModul{
width: 50px; 
height: 50px; 
margin-top: -25px; /* moiti? de la hauteur */ 
margin-left: -25px; /* moiti? de la largeur */ 
border:1px dotted transparent;
cursor:pointer;
}
#myModul:hover{
border:1px dotted #0340ff;
}
#modulArea{
display:none;
width: 500px; 
height: 500px; 
margin-top: -250px; /* moiti? de la hauteur */ 
margin-left: -250px; /* moiti? de la largeur */ 
}
#modulSelected{
display:none;
width: 500px;
height: 500px;
margin-top: -250px; /* moiti? de la hauteur */ 
margin-left: -250px; /* moiti? de la largeur */ 
}
#modulInfo{
position:absolute;
left: 0;
top: 225px;
width:273px;
}
#modulInfo .open{
text-align:right;
padding-right:55px;
}
#modulInfo dt{
padding:5px 0 0 0;
font-family:verdana, arial, sans;
font-size:10px;
color:#555;
}
#modulInfo dd{
color:#dbe3e2;
}
#modulAct{
position:absolute;
right: 0px;
top: 0;
height:210px;
width:250px;
border:none;
}
#modulAct .open{
position:absolute;
bottom: 0px;
left: 0px;
padding:0;
}
#modulSpeak{
height:200px;
position:absolute;
top: 230px;
right: 0px;
width:220px;
}
#modulSpeak p{
font-size:12px;
width:200px;
margin:4px 0;
float:right;
}
#modulSpeak p span{
padding:2px;
}

/*  MENU BOXES   */

.box{
position:absolute;
width:300px;
}
.bottom.box{
bottom:0;
}
.top.box{
top:0;
}
.box.bottom .inside{
padding:0 0 4px 0;
}


/*  CODE PAD   */

#codepad{
right:10px;
}
#codepad .inside{
height:400px;
}

/*  PACKS   */

#packs{
right:630px;
}

/*  ENERGY   */

#energy{
right:320px;
}

/*  ACTIONS   */

#actions{
right:10px;
}

/*  LOGO MENU   */

#menu .open.logo{
opacity:0.8;
text-transform:none;
font-size:20px;
position:absolute;
bottom:10px;
left:20px;
}
#menu .open.logo:hover{
opacity:1;
}
#menu>.inside{
background:none;
position:absolute;
bottom:50px;
left:20px;
border-top:1px #324B6B solid;
overflow:visible;
}
#menu li{
padding:2px 0;
border-bottom:1px #324B6B solid;
}
#menu li li{
padding:2px 0 2px 20px;
border-bottom:0px;
}
#menu ul>li>.inside{
border-top:0px;
position:static;
}

.about.inside{
font-size:10px;
font-family:verdana, arial, sans;
position:absolute;
top:-60px;
left:0px;
letter-spacing:1px;
}
.about.inside a{
font-size:10px;
font-family:verdana, arial, sans;
display:inline;
border:0;
color:#42FF21;
}

/*  BUTTONS   */

button{
color:#dbe3e2;
border:solid 1px #dbe3e2;
background:transparent;
cursor:pointer;
width:48.2%;
margin:0 0 4px 0;
padding:2px 0;
font-size:12px;
cursor:pointer;
}
#playground button.keyActive{
color:#fff;
border:solid 1px #fff;
}
.moving{
width:48.2%;
height:70px;
position:relative;
float:left;
}
.keyLeft, .keyTop, .keyBottom ,.keyRight {
position:absolute;
display:block;
width:30%;
}
.keyLeft,.keyRight {
height:64px;
}
.keyLeft{
top:0;
left:0;
}
.keyTop, .keyBottom{
height:30px;
}
.keyTop{
top:0;
left:50px;
}
.keyBottom{
top:34px;
left:50px;
}
.keyRight{
top:0;
left:100px;
float:right;
}
.handle{
width:48.2%;
height:70px;
position:relative;
float:right;
}
.newF, .parentF{
width:66px;
height:64px;
border:0px;
font-size:20px;
}

/*  MISC   */
i{
font-family:modulicons;
font-style:normal;
font-size:16px;
}
b{
font-family:modulicons2218;
font-weight:normal;
font-size:16px;
vertical-align:bottom;
}
.inside{
display:none;
overflow:hidden;
}
.open{
cursor:pointer;
padding:5px 0;
}
.close{
cursor:pointer;
}
a{
color:#dbe3e2;
border-bottom:1px dashed #dbe3e2;
text-decoration:none;
}
a:hover{
border-bottom:1px solid;
}
::selection {
background: #000;
}
::-moz-selection {
background: #000;
}

@font-face {
    font-family: 'modulicons';
    src: url('font/modulicons/modulicons-webfont.eot');
    src: url('font/modulicons/modulicons-webfont.eot?#iefix') format('eot'),
         url('font/modulicons/modulicons-webfont.woff') format('woff'),
         url('font/modulicons/modulicons-webfont.ttf') format('truetype'),
         url('font/modulicons/modulicons-webfont.svg#webfontB253rSyV') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'modulicons2218';
    src: url('font/modulicons/modulicons2218-webfont.eot');
    src: url('font/modulicons/modulicons2218-webfont.eot?#iefix') format('eot'),
         url('font/modulicons/modulicons2218-webfont.woff') format('woff'),
         url('font/modulicons/modulicons2218-webfont.ttf') format('truetype'),
         url('font/modulicons/modulicons2218-webfont.svg#webfontEezNUb44') format('svg');
    font-weight: normal;
    font-style: normal;

}

