
*{
font-family: DroidSansMono, courier new, monospace;
font-size:16px;
letter-spacing:0.04em;
}

/*  MENU BOXES   */

.bottom.box{
bottom:7px;
}

/*  MY MODULE   */

.inside, #modulInfo, #modulAct, #modulSpeak{
background:rgba(0, 5, 20, .5);
}

.blue{
color:#324b6b;
}
.blue dd{
color:#657397;
padding:0 0 0 0px;
}

.white{
color:#AAAAAA;
}

/*  CODE PAD   */

.turquoise{
border-bottom:1px solid #7ADF9A;
color:#7ADF9A;
}

/*  PACKS   */

.yellow{
border-top:1px solid #FFD513;
color:#FFD513;
}
.yellow button, .red button.drop{
color:#956f13;
border:solid 1px #956f13;
}
.yellow button:hover, .red button.drop:hover{
color:#FFD513;
border:solid 1px #FFD513;
}

/*  ACTIONS   */

.red{
border-top:1px solid #ff2323;
color:#ff2323;
}
.red button{
color:#BB0808;
border:solid 1px #BB0808;
}
.red button:hover{
color:#ff2323;
border:solid 1px #ff2323;
}
/*  ENERGY  */

.green{
border-top:1px solid #9BFB00;
color:#9BFB00;
}

/*  MISC  */

.red .newF, .red .parentF{
border:0px;
}
@font-face {
	font-family: DroidSansMono;
	src: url('../font/DroidSansMono.ttf');
}

